html,
.container {

    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0;
}


.form {
    margin-bottom: 20px;
}

.img {
    padding-top: 50px;
    /* Garante que a imagem não seja maior que o contêiner */
    align-items: center;
    padding: 70px;
    width: 600px;
    /* Defina o tamanho desejado para as imagens */
    height: 600px;
    /* Defina o tamanho desejado para as imagens */

}

.btn {
    margin-top: 20px;
}